[Desktop Entry]
Version=1.0
Type=Link
Name=Customize Your Xfwm Theme
Comment=
Icon=gnome-fs-bookmark
URL=https://pclosmag.com/html/issues/201008/page04.html
